%nav
  .nav-container
    .nav-left
      .logo
        = link_to image_tag("/assets/logo.svg"), root_path
      .nav-inputs
        %input.search{:type => "text", :placeholder => "Search Vend..."}/
        %input.location{:type => "text", :placeholder => "My Location"}/
      
    .nav-right
      .sell-stuff
        

      .messaging
       

      .dropdown
        - if user_signed_in?
          = link_to "Sell", new_listing_path
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path


    .nav-categories
      %ul
        %li
          
          = link_to "All items", root_path
        %li
          
          %a{:href => "#"} Cars & Trucks
        %li
          
          %a{:href => "#"} Furniture
        %li
          
          %a{:href => "#"} Electronics
        %li
          
          %a{:href => "#"} Baby & Kids
        %li
          
          %a{:href => "#"} Clothing & Shoes
        %li
          %a{:href => "#"} More

