%nav
  .nav-container
    .nav-left
      .logo
        %a{:href => "#{root_path}"}
          %img{:src => "/assets/logo.svg", :alt => "vend logo"}/
      .nav-inputs
        %input.search{:type => "text", :placeholder => "Search Vend..."}/
        %input.location{:type => "text", :placeholder => "My Location"}/
      
    .nav-right
      .sell-stuff
        

      .messaging
        
       

      .dropdown
        - if user_signed_in?
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_registration_path
          = link_to "Start selling", new_user_registration_path


    .nav-categories
      %ul
        %li
          
          = link_to "All items", root_path
        %li
          
          %a{:href => "#"} Cars & Trucks
        %li
          
          %a{:href => "#"} Furniture
        %li
          
          %a{:href => "#"} Electronics
        %li
          
          %a{:href => "#"} Baby & Kids
        %li
          
          %a{:href => "#"} Clothing & Shoes
        %li
          %a{:href => "#"} More

